
@font-face {
    font-family: 'FallingForAutumn';
    src: url('./fonts/FallingForAutumn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HigherJump';
    src: url('./fonts/HigherJump.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*index.html.body*/
#background-blackboard{
    width: 100dvw;
    height: 100dvh;
    background-image: url("/static/background-pizarra2.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
}

/*App.jsx.container*/
.container-blackboard{
    width: 95dvw;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    align-items: center; /* column: x axis */
    justify-content: flex-start;
    /* border: 2px solid #fafafa; */
    margin: auto;
}

.reñe{
    max-height: 24dvh;
    flex-grow: 0; 
    /* border: 2px solid #fafafa; */
    margin: 0;
}

h1{
    font-family: 'HigherJump';
    font-size: small;
    color: #fafafab1;
    flex-grow: 0;
    /* border: 2px solid #fafafa; */
    margin: 0
}
footer{
    display: flex;
    width: 95dvw;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0;
    /* border: 2px solid #fafafa; */

}

.p:hover{
    transform: scale(1.15);
}

.container-cocktails{
    width: 100dvw;
    display: flex;
    flex-direction: row;
    align-items: flex-end; /* row: y axis */
    justify-content:center; /* row: x axis */
}

.cocktail{
    display: flex;
    width: 12dvw;
    flex-direction: column;
    align-items: center; /* column: x axis */
    /* justify-content: stretch; /*column: y axis */
    /* font-size: xx-small;
    font-family:'HigherJump';
    color: #fafafab1; */
}

svg {
    /* border: solid 2px #b2d2a2; */
    width: 15dvw;
    transition: all 300ms;
    cursor: pointer;
}
svg:hover{
    transform: scale(1.15);
}

.reñesjewel {filter: drop-shadow(0 0 2px #ad773fcc);width: 29vdh;}
.reñesjewel:hover {filter: drop-shadow(0 0 15px #ad773fcc)}
.aroha {filter: drop-shadow(0 0 2px #fbbe31cc);width: 30dvh;}
.aroha:hover {filter: drop-shadow(0 0 15px #fbbe31cc)}
.elixir {filter: drop-shadow(0 0 2px #ddab6acc);width: 25dvh;}
.elixir:hover {filter: drop-shadow(0 0 15px #ddab6acc)}
.iceberg {filter: drop-shadow(0 0 2px #3b9ca2cc);width: 19dvh;}
.iceberg:hover {filter: drop-shadow(0 0 15px #3b9ca2cc)}
.sicilia {filter: drop-shadow(0 0 2px #0bd22ccc);width: 26dvh;}
.sicilia:hover {filter: drop-shadow(0 0 15px #0bd22ccc)}
.orangebreeze {filter: drop-shadow(0 0 2px #f39532cc);width: 28dvh;}
.orangebreeze:hover {filter: drop-shadow(0 0 15px #f39532cc)}
.maisgarden {filter: drop-shadow(0 0 2px #a60b28cc);width: 24dvh;}
.maisgarden:hover {filter: drop-shadow(0 0 15px #a60b28cc)}

@media (max-width: 768px) and (orientation: portrait){
    
    .container-cocktails{
        width: 95dvw;
        display: flex;
        flex-direction: row;
        align-items: flex-end; /* row: y axis */
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-grow: 1;
    }
    .cocktail{
        width: 25vw;
    }
    svg {
        /* border: solid 2px #b2d2a2; */
        width: 27vw;
        /* border: 2px solid #fafafa; */
    }
    .reñesjewel {filter: drop-shadow(0 0 2px #ad773fcc);width: 18dvh;}
    .aroha {filter: drop-shadow(0 0 2px #fbbe31cc);width: 19dvh;}
    .elixir {filter: drop-shadow(0 0 2px #ddab6acc);width: 14dvh;}
    .iceberg {filter: drop-shadow(0 0 2px #3b9ca2cc);width: 10dvh;}
    .sicilia {filter: drop-shadow(0 0 2px #0bd22ccc);width: 15dvh;}
    .orangebreeze {filter: drop-shadow(0 0 2px #f39532cc);width: 17dvh;}
    .maisgarden {filter: drop-shadow(0 0 2px #a60b28cc);width: 13dvh;}
}