
@font-face {
    font-family: 'FallingForAutumn';
    src: url('./fonts/FallingForAutumn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HigherJump';
    src: url('./fonts/HigherJump.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    -webkit-tap-highlight-color: transparent;
}
/*index.html.body*/
#background-blackboard{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-image: url("/static/background-pizarra2.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
}
/*end index.html.body*/

.container-blackboard{
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}

.reñe{
    max-height: 24vh;
    flex-grow: 0; 
    margin: 0;
}

h1{
    font-family: 'HigherJump';
    font-size: small;
    color: #fafafab1;
    flex-grow: 0;
    margin: 0
}
footer{
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 1vh;

}
.p{
    font-size: xx-small;
}
.p:hover{
    transform: scale(1.15);
}

.container-cocktails{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:center;
}

.cocktail{
    display: flex;
    width: 12vw;
    flex-direction: column;
    align-items: center;
}

svg {
    width: 15vw;
    transition: all 300ms;
    cursor: pointer;
}
svg:hover{
    transform: scale(1.15);
}

.reñesjewel {filter: drop-shadow(0 0 2px #ad773fcc);width: 29vh;}
.reñesjewel:hover {filter: drop-shadow(0 0 15px #ad773fcc)}
.aroha {filter: drop-shadow(0 0 2px #fbbe31cc);width: 30vh;}
.aroha:hover {filter: drop-shadow(0 0 15px #fbbe31cc)}
.elixir {filter: drop-shadow(0 0 2px #ddab6acc);width: 25vh;}
.elixir:hover {filter: drop-shadow(0 0 15px #ddab6acc)}
.iceberg {filter: drop-shadow(0 0 2px #3b9ca2cc);width: 19vh;}
.iceberg:hover {filter: drop-shadow(0 0 15px #3b9ca2cc)}
.sicilia {filter: drop-shadow(0 0 2px #0bd22ccc);width: 26vh;}
.sicilia:hover {filter: drop-shadow(0 0 15px #0bd22ccc)}
.orangebreeze {filter: drop-shadow(0 0 2px #f39532cc);width: 28vh;}
.orangebreeze:hover {filter: drop-shadow(0 0 15px #f39532cc)}
.maisgarden {filter: drop-shadow(0 0 2px #a60b28cc);width: 24vh;}
.maisgarden:hover {filter: drop-shadow(0 0 15px #a60b28cc)}

@media (max-width: 768px) and (orientation: portrait){
    
    .container-cocktails{
        width: 95vw;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-grow: 1;
    }
    .cocktail{
        width: 25vw;
    }
    svg {
        width: 27vw;
    }
    .reñesjewel {filter: drop-shadow(0 0 2px #ad773fcc);width: 18vh;}
    .aroha {filter: drop-shadow(0 0 2px #fbbe31cc);width: 19vh;}
    .elixir {filter: drop-shadow(0 0 2px #ddab6acc);width: 14vh;}
    .iceberg {filter: drop-shadow(0 0 2px #3b9ca2cc);width: 10vh;}
    .sicilia {filter: drop-shadow(0 0 2px #0bd22ccc);width: 15vh;}
    .orangebreeze {filter: drop-shadow(0 0 2px #f39532cc);width: 17vh;}
    .maisgarden {filter: drop-shadow(0 0 2px #a60b28cc);width: 13vh;}
}